@import "vars";
@import "fonts.scss";
@import "vendor/reset.scss";

body {
  background-color: #fff;

  font-family: $roboto;
  font-size: 16px;
  color: $black;

  &.no-scroll {
    overflow: hidden;
  }
}

.page {
  overflow: hidden;
  position: relative;

  @media(max-width: 930px) {
    padding-top: 90px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

/* Blocks */
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/header-mob.scss";
@import "blocks/burger.scss";
@import "blocks/sidebar.scss";
@import "blocks/footer.scss";
@import "blocks/footer-mob.scss";
@import "blocks/fixed-btn.scss";
@import "blocks/modal.scss";

// index
@import "blocks/intro.scss";
@import "blocks/subintro.scss";
@import "blocks/about.scss";
@import "blocks/offer.scss";
@import "blocks/trust.scss";
@import "blocks/case.scss";
@import "blocks/news.scss";
@import "blocks/contacts.scss";

//about
@import "blocks/plus.scss";
@import "blocks/inovation.scss";
@import "blocks/team.scss";
@import "blocks/persons.scss";
@import "blocks/res.scss";

//services
@import "blocks/services-intro.scss";
@import "blocks/digital-key.scss";
@import "blocks/services-cards.scss";
@import "blocks/services-btns.scss";

//reason
@import "blocks/reason-intro.scss";
@import "blocks/reasons-main.scss";

// virazh
@import "blocks/virazh/intro.scss";
@import "blocks/virazh/issue.scss";
@import "blocks/virazh/solution.scss";
@import "blocks/virazh/implementation.scss";
@import "blocks/virazh/result.scss";

// blog
@import "blocks/blog/intro.scss";
@import "blocks/blog/card.scss";
@import "blocks/blog/more.scss";

// google
@import "blocks/google/intro.scss";
@import "blocks/google/main.scss";

// kargo
@import "blocks/kargo/intro.scss";
@import "blocks/kargo/task.scss";
@import "blocks/kargo/task-solution.scss";
@import "blocks/kargo/task-result.scss";
