.about-inner {
  padding: 76px 0 95px;

  @media(max-width: 930px) {
    padding: 30px 0;
  }
}

.about-title {
  margin-bottom: 50px;
  
  text-align: center;
  font-size: 44px;
  line-height: 74px;
  font-weight: 700;

  @media(max-width: 930px) {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 1;
  }
}

.about-top {
  margin-bottom: 76px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 40px;

  @media(max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }

  @media(max-width: 930px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
    margin-bottom: 16px;
  }
}

.about-top-item {
  padding: 40px 25px;
  border-radius: 16px;
  box-shadow: 0px 12.178px 28.416px 3.045px rgba(8, 15, 52, 0.12);
  text-align: center;

  @media(max-width: 930px) {
    display: flex;
    align-items: center;
    padding: 16px 12px;
    min-height: 78px;
  }
}

.about-top-item-num {
  display: block;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 700;

  @media(max-width: 930px) {
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 36px;
    min-width: 82px;
  }
}

.about-top-item-text {
  font-size: 20px;
  line-height: 30px;

  @media(max-width: 930px) {
    font-size: 15px;
    line-height: 22px;
    text-align: left;
  }
}

.about-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 40px;

  @media(max-width: 930px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }
}

.about-bottom-item {
  padding: 40px 40px 30px;
  max-width: 740px;
  width: 100%;
  box-shadow: 0px 12.178px 28.416px 3.045px rgba(8, 15, 52, 0.12);
  border-radius: 16px;
  text-decoration: none;
  color: inherit;
  transition: all .1s linear;

  &:hover {
    transform: scale(1.005);
    box-shadow: 0px 16.178px 32.416px 5.045px rgba(8, 15, 52, 0.12);
  }

  @media(max-width: 930px) {
    padding: 20px 16px;
    max-width: none;
  }
}

.about-bottom-item-title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 600;
  display: block;

  @media(max-width: 930px) {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1;
  }
}

.about-bottom-item-text {
  font-size: 24px;
  line-height: 30px;
  color: #B1B1B3;

  @media(max-width: 930px) {
    font-size: 15px;
    line-height: 25px;
  }
}

.about-bottom-item-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    display: block;
    margin-right: 14px;
    font-size: 16px;
    color: #000;
  }

  @media(max-width: 930px) {
    justify-content: flex-start;
    margin-top: 12px;
  }
}
