.footer-mob {
  display: none;
  background: #fff;
  border-top: 5px solid #bfdae1;

  @media(max-width: 930px) {
    display: block;
    z-index: 1;
  }
}

.footer-mob-inner {
  padding: 40px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mob-logo {
  display: block;
  width: 193px;
  margin-bottom: 30px;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.footer-mob-linkus {
  margin-bottom: 28px;

  padding: 10px;
  min-width: 228px;
  text-align: center;
  background: #000;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
}

.footer-mob-socials {
  margin-bottom: 28px;
}

.footer-mob-socials-midtext {
  margin: 28px 0;
  display: block;

  font-size: 22px;
  line-height: 32px;
  text-align: center;
  font-weight: 800;
}

.footer-mob-socials-group {
  display: flex;
  justify-content: center;
}

.footer-mob-socials-item {
  width: 40px;
  height: 40px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  & + & {
    margin-left: 16px;
  }
}

.footer-mob-nav {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-mob-nav-li {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  & + & {
    margin-top: 32px;
  }

  &:hover {
    .footer-mob-nav-submenu {
      display: block;
    }
  }
}

.footer-mob-nav-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #343434;
  text-decoration: none;
  font-weight: 700;

  img {
    display: block;
    max-width: 12px;
    height: auto;
    margin-left: 5px;
  }

  &.slim {
    font-weight: 400;
  }
}

.footer-mob-nav-submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  padding: 16px;
  padding-top: 20px;
  background: #fff;
  box-shadow: 0 2px 3px 1px rgba(189,189,189,.44);
  z-index: 1111;
  border-radius: 0 0 15px 15px;
  display: none;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #343434;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    text-decoration: none;
    img {
      max-width: 20px;
      object-fit: contain;
      height: auto;
    }
    &:last-child {
      margin-bottom: 4px;
    }
    &:hover {
      color: #4CA8BF;
    }
  }
}

.footer-mob-ur {
  margin-bottom: 28px;
  text-align: center;
}

.footer-mob-ur-title {
  margin-bottom: 20px;
  display: block;

  font-size: 22px;
  font-weight: 800;
  line-height: 32px;
}

.footer-mob-ur-text {
  display: block;
  font-size: 18px;
  line-height: 120%;

  & + & {
    margin-top: 20px;
  }
}

.footer-mob-copyright {
  font-size: 18px;
  line-height: 120%;
  text-decoration: underline;
  color: #343434;

  &:hover {
    text-decoration: none;
  }
}
