.header {
  box-shadow: 0px 11.665px 27.219px 2.916px rgba(8, 15, 52, 0.12);

  @media(max-width: 930px) {
    display: none;
  }
}

.header-top {
  background: #E9E9E9;
}

.header-top-inner {
  padding: 8px 0;
  display: flex;
  justify-content: flex-end;
}

.header-top-link {
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  
  a {
    color: $black;
    text-decoration: none;
  }

  img {
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 46px;
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.header-top-left {
  display: flex;
  align-items: center;
}

.header-top-select {
  margin-right: 48px;
  font-size: 24px;
  line-height: 24px;
  background: inherit;
  border: none;
  font-family: $roboto;

  @media(max-width: 1200px) {
    margin-right: 20px;
    font-size: 18px;
  }
}

.header-top-socials {
  display: flex;
  align-items: center;
}

.header-top-icon {
  transition: all .1s ease;

  img {
    display: block;
    width: 24px;
    height: 24px;
  }
  & + & {
    margin-left: 12px;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.header-top-linkus {
  margin-left: 13px;
  font-size: 14px;
  line-height: 16px;
  color: #4A4A4A;
  font-weight: 700;
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background: #4A4A4A;
    transition: all .1s linear;
  }

  &:hover {
    &::before {
      width: 0;
    }
  }
}

.header-main {
  background: $white;
}

.header-main-inner {
  padding: 14px 0 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.header-main-logo {
  max-width: 197px;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @media(max-width: 1200px) {
    img {
      max-width: 100px;
    }
  }
}

.header-main-nav-list {
  display: flex;
  margin-top: 6px;

  @media(max-width: 1200px) {
    margin-top: 0;
  }
}

.header-main-nav-item {
  display: flex;
  position: relative;
  & + & {
    margin-left: 45px;
  }
  a {
    text-decoration: none;
    color: #05153D;
    font-size: 18px;
    line-height: 22px;
    transition: all .1s linear;

    &:hover {
      color: #4CA8BF;
    }
  }
  img {
    margin-left: 15px;
  }

  @media(max-width: 1200px) {
    & + & {
      margin-left: 20px;
    }

    img {
      margin-left: 5px;
    }
  }
  &:hover {
    .header-main-nav-item-submenu {
      display: block;
    }
  }
}

.header-main-nav-item-submenu {
  padding-top: 20px;
  position: absolute;
  padding: 16px;
  background: #fff;
  border-radius: 6px;
  width: 250px;
  box-shadow: 0 2px 3px 2px rgba(189,189,189,.44);
  right: 0;
  top: 100%;
  z-index: 1;
  display: none;
  a {
    display: block;
    padding: 12px;
  }
}

.header-main-cabinet {
  margin-top: 6px;
  font-size: 20px;
  line-height: 24px;
  color: #05153D;
  text-decoration: none;
  position: relative;
  font-weight: 500;

  transition: all .1s linear;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: #05153D;
    transition: all .1s linear;
  }

  &:hover {
    color: #4CA8BF;
    &::before {
      width: 0;
    }
  }

  @media(max-width: 1200px) {
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
  }
}

.header-top-socials-more {
  position: relative;
  margin-left: 15px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .header-top-socials-more-content, &:focus .header-top-socials-more-content {
    opacity: 1;
    pointer-events: all;
  }
}

.header-top-socials-more-text {
  cursor: pointer;
}

.header-top-socials-more-content {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all .1s ease;
}

.header-top-socials-more-link {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  transition: all .1s ease;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  & + & {
    margin-top: 10px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
