.trust-inner {
  padding: 92px 0 73px;

  @media(max-width: 930px) {
    padding: 30px 0;
  }
}

.trust-title {
  margin-bottom: 65px;
  font-size: 44px;
  line-height: 74px;
  font-weight: 700;
  text-align: center;

  @media(max-width: 930px) {
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 1;
  }
}

/* .trust-grid {
  display: grid;
  grid-gap: 53px 22px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 40px;
} */

.trust-item {
  /* width: 269px; */
  height: 140px;
  border-radius: 15px;
  box-shadow: 0px 16.382px 38.226px 4.096px rgba(8, 15, 52, 0.12);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;

  img {
    display: block;
    max-width: calc(100% - 50px);
    height: auto;
    transform: scale(1.1);
  }

  @media(max-width: 930px) {
    height: 100px;
  }
}

@media (min-width: 930px) {
  .trust-item {
    visibility: hidden;
  }

  .trust-item.swiper-slide-active,
  .trust-item.swiper-slide-active + .trust-item,
  .trust-item.swiper-slide-active + .trust-item + .trust-item,
  .trust-item.swiper-slide-active + .trust-item + .trust-item + .trust-item,
  .trust-item.swiper-slide-active + .trust-item + .trust-item + .trust-item + .trust-item  {
    visibility: visible;
  }
}

.trust-bottom {
  margin-top: 45px;
  text-align: center;

  @media(max-width: 930px) {
    margin-top: 28px;
  }
}

.trust-link {
  display: inline-block;
  padding: 11px 80px;
  border-radius: 10px;
  background: #49A1B8;
  color: #fff;
  text-decoration: none;
  font-family: $roboto;
  font-size: 24px;
  opacity: 0.8;
  transition: all .1s linear;

  &:hover {
    opacity: 1;
    background: darken(#49A1B8, 5);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
  }

  @media(max-width: 930px) {
    font-size: 16px;
    padding: 10px 80px;
  }
}

.trust-swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 37px;
  height: 13px;

  .swiper-pagination-bullet {
    background: #82CDDF;
    transition: all .1s linear;
  }

  .swiper-pagination-bullet-active {
    height: 13px;
    width: 13px;
  }
}
