.task-result {

  &__growth-wrapper {
    margin-top: 60px;
    @media (max-width: 767.98px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
  }

  &__growth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 60%;
    margin-bottom: 30px;

    @media (max-width: 767.98px) {
      text-align: center;
      max-width: 50%;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__growth:last-child {
    margin-top: 32px;
    @media (max-width: 767.98px) {
      margin-top: 0;
    }
  }

  &__growth-text {
    font-size: 15px;
    line-height: 22px;
    width: 100%;
    max-width: 120px;

    @media (max-width: 767.98px) {
      font-weight: bold;
      max-width: 100%;
      margin-bottom: 20px;
    }

    br {
      display: none;
      @media (max-width:767.98px) {
        display: block;
      }
    }
  }

  &__output {
    font-size: 33px;
    line-height: 41px;
    font-weight: 900;
    font-style: italic;
    background-color: #82CDDF;
    padding: 14px;
    border-radius: 3px;
    width:100%;
    max-width:150px;
    text-align: center;
    min-height: 77px;

    @media (max-width: 767.98px) {
      border-radius: 16px;
      font-size: 52px;
      line-height: 60px;
      display:flex;
      align-items: center;
      justify-content: center;
      max-width:165px;
    }
  }

  &__output-letter {
    font-size: 33px;
    line-height: 43px;
    @media (max-width: 767.98px) {
      font-style: normal;
      font-size: 22px;
      line-height: 20px;

    }
  }

  &__output-times {
    font-size: 16px;
    line-height: 41px;
    @media (max-width: 767.98px) {
      font-size: 22px;
      line-height: 20px;
      font-style: normal;
      text-transform: lowercase;
      margin-left:10px;
      font-weight: 500;
    }
  }

  &__marketing-director {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: #efefef;
    border-radius: 16px;
    width:100%;
    max-width:65%;
    @media (max-width:767.98px) {
      padding:32px;
      max-width:100%;
    }
  }

  &__person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:767.98px) {
      margin-bottom: 24px;
      flex-direction: column;
    }
  }

  &__photo {
    width: 100%;
    max-width: 130px;
    @media (max-width:767.98px) {
      margin-bottom: 24px;
    }
  }

  &__person-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80%;

    @media (max-width:767.98px) {
      max-width:100%;
    }
  }

  &__name {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;

    @media (max-width:767.98px) {
      font-size: 19px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 21px;
    line-height: 30px;
    @media (max-width:767.98px) {
      font-size: 17px;
      line-height: 24px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

  }

  &__empty {
    width: 100%;
    max-width: 130px;
    @media (max-width:767.98px) {
      display: none;
    }
  }

  &__info-text-wrapper {
    width: 100%;
    max-width: 80%;
    @media (max-width:767.98px) {
      max-width: 100%;
    }
  }

  &__info-text {
    font-size: 21px;
    line-height: 30px;
    text-wrap:balance;
    @media (max-width:767.98px) {
      font-size: 17px;
      line-height: 24px;
    }
  }

  &__info-text:first-child {
    margin-bottom: 20px;
  }
}
