.background-task::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/bg.png');
  background-size: contain;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
}

.kargo {

  &__info {
    width:40%;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (max-width: 1200px) {
      width:55%;
    }

    @media (max-width:767.98px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 0 0;
    }
  }

  &__image {
    width: 60%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

    @media (max-width: 1200px) {
      width:45%;
    }

    @media (max-width:767.98px) {
      width:100%;
      margin-bottom: 40px;
    }
  }

  &__inner {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:80px 0;
    height: 350px;

    @media (max-width:767.98px) {
      flex-direction: column-reverse;
      text-align: center;
      padding:40px 0 60px 0;
      margin: 0;
      height: auto;
    }
  }

  &__title {
    font-size:34px;
    line-height: 40px;
    font-weight: bold;

    @media (max-width: 1023.98px) {
      font-size:24px;
      line-height: 32px;
    }

    @media (max-width:767.98px) {
      font-size:28px;
      line-height: 34px;
      margin-bottom: 28px;
    }
  }

  &__text {
    font-size:16px;
    line-height: 24px;
    font-weight: 500;

    @media (max-width:767.98px) {
      font-size:17px;
      line-height: 24px;
      text-wrap:balance;
    }
  }

  &__about {
    background: #4CA8BF;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding:15px 20px;
    border-radius: 10px;

    @media (max-width:767.98px) {
      flex-direction: column;
      width:100%;
      margin: 40px 0 0 0;
      padding:32px 16px;
    }
  }

  &__name {
    font-size:24px;
    color:#fff;
    line-height: 32px;
    max-width:100%;
    width:35%;
    font-weight: bold;
    border-right: 1px solid #FFFFFF;
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;

    @media (max-width:767.98px) {
      width:100%;
      text-align: center;
      border-right: none;
      border-bottom: 1px solid #FFFFFF;
      margin: 0 0 12px 0;
      padding: 0 0 12px 0;
      font-size:30px;
    }

    span {
      font-weight: normal;
      font-size:16px;
      line-height: 24px;
      font-weight: 300;

      @media (max-width:767.98px) {
        font-size:18px;
        line-height: 24px;
      }
    }
  }

  &__text-about {
    font-size:16px;
    line-height: 24px;
    color:#fff;
    max-width:100%;
    width:65%;

    @media (max-width:767.98px) {
      width:100%;
      text-align: center;
    }
  }
}
