.issue-dealer {

  &__inner {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #efefef;
    padding:40px;
    border-radius: 20px;
    margin-bottom: 150px;

    @media (max-width:767.98px) {
      text-align: center;
      padding:32px;
      margin-bottom: 100px;
    }

  }

  &__wrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;

    @media (max-width:767.98px) {
      flex-direction: column;
    }
  }

  &__about {
    width:100%;
    max-width:45%;

    @media (max-width:767.98px) {
      max-width:100%;
    }
  }

  &__task {
    width:100%;
    max-width:50%;

    @media (max-width:767.98px) {
      max-width:100%;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @media (max-width:767.98px) {
      flex-direction: column;
    }
  }

  &__info-text {
    width:100%;
    max-width:45%;

    @media (max-width:767.98px) {
      max-width:100%;
    }
  }

  &__title {
    font-size:44px;
    line-height: 52px;
    color:#0C272C;
    font-weight: bold;
    margin-bottom: 25px;

    @media (max-width:767.98px) {
      font-size:32px;
      line-height: 44px;
    }
  }

  &__text {
    font-size:18px;
    line-height: 24px;
    color:#001739;
    margin-bottom: 30px;

    @media (max-width:767.98px) {
      font-size: 16px;
      line-height: 24px;
      text-wrap: balance;
    }

    span {
      display: none;
      @media (max-width:767.98px) {
        display: block;
      }
    }
  }



  &__text.desktop {
    @media (max-width:767.98px) {
      display: none;
    }
  }

  &__period {
    font-size:18px;
    line-height: 24px;
    margin: 0 0 10px 0;
    span {
      font-weight: bold;
    }

    @media (max-width:767.98px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }

  &__tools {
    font-size:18px;
    line-height: 24px;
    span {
      font-weight: bold;
    }

    @media (max-width:767.98px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  &__disclaimer {
    width:100%;
    height: fit-content;
    max-width:50%;
    font-size:18px;
    line-height: 24px;
    font-weight: bold;
    border-left: 3px solid #4CA8BF;
    padding-left:28px;

    span {
      display:none;
    }

    @media (max-width:767.98px) {
      max-width:100%;
      border-left: none;
      border-top: 3px solid #4CA8BF;
      font-size: 16px;
      line-height: 24px;
      padding-left:0;
      padding-top:24px;
      text-wrap:balance;
    }

    span {
      @media (max-width:767.98px) {
        height: 2px;
        margin-top:16px;
        width:100%;
        display: block;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .issue__text.mobile {
    margin-bottom: 0;
  }
}
