<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top-inner">
        <div class="header-top-left">
          <select class="header-top-select" name="lang">
            <option value="ru">RU</option>
            <option value="kz">KZ</option>
            <option value="en">EN</option>
          </select>

          <div class="header-top-socials">
            <a class="header-top-icon" href="#" target="_blank">
              <img src="assets/images/inst.svg" alt="">
            </a>
            <a class="header-top-icon" href="#" target="_blank">
              <img src="assets/images/fb.svg" alt="">
            </a>
            <a class="header-top-icon" href="#" target="_blank">
              <img src="assets/images/tme.svg" alt="">
            </a>

            <div class="header-top-socials-more">
              <div class="header-top-socials-more-text">еще</div>
              <div class="header-top-socials-more-content">
                <a class="header-top-socials-more-link" href="#">
                  <img src="assets/images/wsp.svg" alt="">
                </a>
                <a class="header-top-socials-more-link" href="#">
                  <img src="assets/images/ytb.svg" alt="">
                </a>
                <a class="header-top-socials-more-link" href="#">
                  <img src="assets/images/linkedin.svg" alt="">
                </a>
                <a class="header-top-socials-more-link" href="#">
                  <img src="assets/images/tt.svg" alt="">
                </a>
              </div>
            </div>

          </div>
          <a class="header-top-linkus" href="#" target="_blank">Связаться с нами</a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-main">
    <div class="container">
      <div class="header-main-inner">

        <a class="header-main-logo" href="index.html">
          <img src="assets/images/logo.png" alt="">
        </a>

        <nav class="header-main-nav">
          <ul class="header-main-nav-list">
            <li class="header-main-nav-item">
              <a href="about.html">О нас</a>
              <img src="assets/images/menu-arrow.svg" alt="">
              <div class="header-main-nav-item-submenu">
                <a href="reason.html">Наши преимущества</a>
              </div>
            </li>
            <li class="header-main-nav-item">
              <a href="services.html">Услуги</a>
            </li>
            <li class="header-main-nav-item">
              <a href="#">Кейсы</a>
              <img src="assets/images/menu-arrow.svg" alt="">
            </li>
            <li class="header-main-nav-item">
              <a href="#">Наши клиенты</a>
              <img src="assets/images/menu-arrow.svg" alt="">
            </li>
            <li class="header-main-nav-item">
              <a href="#">Контакты</a>
            </li>
            <li class="header-main-nav-item">
              <a href="#">Блог</a>
            </li>
            <li class="header-main-nav-item">
              <a href="#">Партнерам</a>
            </li>
          </ul>
        </nav>

        <a class="header-main-cabinet" href="#">Личный кабинет</a>

      </div>
    </div>
  </div>
</header>

<header class="header-mob">
  <div class="header-mob-inner">
    <a class="header-mob-logo" href="index.html">
      <img src="assets/images/logo.png" alt="">
    </a>
    <div class="header-mob-group">
      <a class="header-mob-linkus" href="#">
        Связаться с нами
      </a>
      <button class="burger" type="button" id="sidebarToggle">
        <span>Открыть навигацию</span>
      </button>
    </div>
  </div>
</header>

<aside class="sidebar" id="sidebar">
  <nav class="sidebar-nav">
    <ul class="sidebar-nav-list">
      <li class="sidebar-nav-item">
        <a href="about.html">
          О нас
          <img src="assets/images/menu-arrow.svg" alt="">
        </a>
        <div class="sidebar-nav-item-submenu">
          <a href="reason.html">Наши преимущества</a>
        </div>
      </li>
      <li class="sidebar-nav-item">
        <a href="services.html">Услуги</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#">
          Кейсы
          <img src="assets/images/menu-arrow.svg" alt="">
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#">
          Наши клиенты
          <img src="assets/images/menu-arrow.svg" alt="">
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#">Контакты</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#">Блог</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#">Партнерам</a>
      </li>
    </ul>
  </nav>

  <select class="header-mob-select" name="lang-mob">
    <option value="ru">RU</option>
    <option value="kz">KZ</option>
    <option value="en">EN</option>
  </select>

  <div class="header-mob-socials">
    <div class="header-mob-socials-group">
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/wsp.svg" alt="">
      </a>
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/tme.svg" alt="">
      </a>
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/fb.svg" alt="">
      </a>
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/tt.svg" alt="">
      </a>
    </div>
    <div class="header-mob-socials-group">
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/wsp.svg" alt="">
      </a>
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/linkedin.svg" alt="">
      </a>
      <a class="header-mob-socials-item" href="#">
        <img src="assets/images/inst.svg" alt="">
      </a>
    </div>
  </div>
</aside>
